<!DOCTYPE html>
<html lang="en">

<head data-requesttoken="{{ config.requesttoken }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta.description|striptags }}">
    <meta name="author" content="{{ config.author }}">

    <title>{{ site_title }}</title>
	<meta content='{{ site_title }}' property='og:title'/>
	<meta content='website' property='og:type'/>
	<meta content='{{ current_page.url }}' property='og:url'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/img/home.jpg{% endif %}' property='og:image'/>
	<meta content="{{ meta.description|striptags }}" property='og:description'/>
	<meta content='{{ site_title }}' property='og:site_name'/>
	<meta content='en_US' property='og:locale'/>
	<meta content='summary_large_image' name='twitter:card'/>
	<meta content='{{ site_title }}' name='twitter:title'/>
	<meta content='{{ meta.description|striptags }}' name='twitter:description'/>
	<meta content='{% if meta.img %}{{ meta.img }}{% else %}{{ theme_url }}/img/home.jpg{% endif %}' name='twitter:image'/>
    <!-- Bootstrap Core CSS -->
    <link href="{{ theme_url }}/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ theme_url }}/css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ theme_url }}/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/apps/files_markdown/js/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="/core/js/jquery-1.10.0.min.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
		<script src="/core/js/jquery-migrate-1.2.1.min.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
		<script src="/core/js/jquery-ui-1.10.0.custom.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
		<script src="/core/js/underscore.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/core/js/jquery.avatar.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/themes/deic_theme_oc7/core/js/jquery.ocdialog.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/themes/deic_theme_oc7/core/js/oc-dialogs.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/core/js/jquery-showpassword.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/core/js/placeholders.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
		<script src="/core/js/jquery-tipsy.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
		<script src="/core/js/compatibility.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/themes/deic_theme_oc7/core/js/js.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/themes/deic_theme_oc7/core/js/avatar.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/core/js/placeholder.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="/3rdparty/js/md5/md5.min.js?v=cf866614b6b18cda13fe699a3a65661b" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/bootstrap.min.js"></script>
    <script src="{{ theme_url }}/js/clean-blog.js"></script> 
</head>

<body>
	<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
						{% if page_number > 1 %}
							<div class="navbar-header page-scroll">
									<a class="navbar-brand" href="{{ base_url }}">Home</a>
							</div>
						{% endif %}
            <!-- /.navbar-collapse -->
            {% if has_search_page %}
							<form class = "navbar-search" id="search_form" action="{{ base_url  }}/search">
								<input type="search" id="search_input" name="q" placeholder="Search" />
								<!--<input type="submit" id="search_submit" value="Search" />-->
							</form>
							<div class="navbar-header page-scroll navbar-right">
									<a class="navbar-brand search" href="{{ base_url }}/search">Search</a>
							</div>
						{% endif %}
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: {% if meta.img %} url({{ meta.img }}) {% else %} url('{{ theme_url }}/img/home.jpg'){% endif %};">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
                        <hr class="thin">
                        <span class="subheading">{{ meta.tagline }}</span>
                    </div>
                </div>
            </div>
        </div>
        
        
        {% if meta.access == 'private' and meta.permissions != 'none' %}
            <a class="navbar-left write-post" share="{{  oc_share }}" path="{{  oc_path }}" owner="{{  oc_owner }}" user="{{  oc_user }}" group="{{  oc_group }}">Write</a>
            <input type="search" id="write_post" name="q" placeholder="Title" />
        {% endif %}
        
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {% set num_pages = paged_pages|length %}
      {% set i = 0 %}
			{% for page in paged_pages|sort_by("time")|reverse %}
      {% set i = i + 1 %}
				<div class="post-preview">
									{% if has_search_page %}
                   <a href="{{ base_url }}/search/author:{{ page.author }}"><div class="avatardiv" author="{{ page.author }}"></div></a><a href="{{ page.url }}">
                  {% endif %}
                        <h2 class="post-title">
							{{ page.title }}
                        </h2>
                        <h3 class="post-subtitle">
							{{ page.description }}
                        </h3>
                    </a>
                    {% if num_pages>1 %}
                    <p class="post-meta">Posted by {{ page.meta.displayname }} on {{ page.date }}</p>
                    {% endif %} 
                </div>
							{% if i < num_pages %}
                <hr>
							{% endif %}
            {% endfor %}
                <!-- Pager -->
                <ul class="pager">
					{% if page_number > 1 %}
					<li class="previous">
                        <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number - 1 }}">&larr; Newer Posts</a>
                    </li>
					{% endif %}
					
					{% if page_number < total_pages %} 
                    <li class="next">
                        <a href="{{ base_url }}/{{ page_indicator }}/{{ page_number + 1 }}">Older Posts &rarr;</a>
                    </li>
					{% endif %}
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
					{% for link,icon in meta.social %}
                        <li>
                            <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-{{ icon }} fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
					{% endfor %}
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; {{ site_title }} {{ "now"|date("Y") }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>